<h1>Seja Bem-Vindo!</h1>
<p>Sergio Oseko</p>

<p>A soma de 1 + 1 é: <%= 1 + 1 %> </p>
<p>Meu nome de trás para frente é:  <%= 'Sergio'.reverse %> </p>

<% aux = 'Conteúdo da variável' %>
<p>Imprimindo a variável aux: <strong> <%= aux %> </strong> </p>
<p>A data de hoje é: <%= Date.today %> </p>